@import "tailwindcss";
@layer base{
body{
    overflow: hidden;
}
}

/* If you see this in your CSS, delete it or change it to 'auto' */
html, body {
  overflow: hidden; /* THIS BLOCKS SCROLLING */
}
.shimmer {
  background: linear-gradient(
    90deg,
    rgba(200, 169, 126, 0.05) 0%,
    rgba(200, 169, 126, 0.15) 50%,
    rgba(200, 169, 126, 0.05) 100%
  );
  background-size: 200% 100%;
  animation: shimmer 1.2s infinite linear;
}

@keyframes shimmer {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}